In [29]:
import pandas as pd

In [30]:
##!pip install pycaret

In [31]:
df=pd.read_csv("C:/Users/catqq/OneDrive/Model/model_data.csv",\

               dtype={"Date": str,"Lead - Mobile Phone Area Code":str,\

                      "Lead - Phone Number Area Code":str,"Lead Category":str,\

                     "Lead Source ID" :str,"Lead - Form Source":str,"Lead - Campus":str,\

                     "Lead - School of Study":str,"Lead - Program":str,"Lead - Zip/Postal Code":str,\

                     "Lead - Original Program Request":str,"Lead - Original Lead Campus":str}, low_memory=False)

df["Y"]=df.apply(lambda x: 1 if  x["Converted in 90 Days?"]=='Yes' else 0, axis=1)

In [32]:
df[['Visit Start Time']].head()

            Visit Start Time
0  2021-08-19T14:39:40-04:00
1  2021-02-06T08:54:34-05:00
2  2021-10-01T20:35:49-04:00
3  2021-06-24T20:44:11-04:00
4  2021-01-26T14:28:04-05:00

In [33]:
df['Visit Start Hour']=df['Visit Start Time'].str[11:13]

In [34]:
df[['Visit Start Time','Visit Start Hour']].head()

            Visit Start Time Visit Start Hour
0  2021-08-19T14:39:40-04:00               14
1  2021-02-06T08:54:34-05:00               08
2  2021-10-01T20:35:49-04:00               20
3  2021-06-24T20:44:11-04:00               20
4  2021-01-26T14:28:04-05:00               14

In [14]:
df.count()

Date                        13514
Count of Sessions           13514
Pageviews                   13513
Session Duration            13456
Hits                        13514
                            ...
Lead Comments - Transfer    10155
Converted in 90 Days?       13514
rand                        13514
Cut                         13514
Y                           13514
Length: 203, dtype: int64

In [118]:
df_sub=df.drop(['Date', 'Converted in 90 Days?','Revenue','Google Ads GCLID','Opportunity - Created Date','Account ID','LeadID',\
          'Opportunity ID','OpportunityID','Lead ID','Lead Comments - Notes',
               'Visit Start Time','Revenue','Campaign ID','Ad Group ID','Google Ads Creative ID',\
               'Google Ads Criteria ID','Google Ads Customer ID','Transaction Revenue',
               'Keyword','Google Ads Criteria','Browser Size','Operating System Version','Mobile Device Model',\
               'Mobile Device Info','Screen Resolution','Latitude','Longitude','Landing Page',\
               'Page_Second in Session','Total Leads','Total Inquiries','Count of Locations Pageviews',\
                'Count of Areas of Study Pageviews','Count of Tuition Pageviews','Count of Admissions Pageviews',\
               'Lead Goal','Lead Goal Level','convertedurl','Description','Fiscal Period',\
               'Marketo Opportunity Analysis','Lead - Zip/Postal Code','ga_term','FIPS','FIPS_STRING',\
               'City - FIPS','County - FIPS','Zip Code - FIPS','ga_clientid','Converted','Lead - Country ID',\
               'Lead - High School Grad Year','Lead Enrollment Campus','Lead Type','Lead - Sales Insight',\
               'Lead - Address Postal Code','Lead - Created Date','Lead - Tuition Reimbursement Avail',\
               'History.First Status','History.First Program','History.First Lead Source',\
               'Lead - Mobile Phone Area Code','Lead - Phone Number Area Code','rand','Cut'], axis=1)

In [35]:
df.head()

,Date,Count of Sessions,Pageviews,Session Duration,Hits,Transactions,Transaction Revenue,New Sessions,Revenue,Session Quality Score 0_100,...,Lead - Age,Lead Comments - Course Interest,Lead Comments - Notes,Lead Comments - Degree,Lead Comments - Transfer,Converted in 90 Days?,rand,Cut,Y,Visit Start Hour
0,8/19/2021,1,5.0,85.0,28,1.0,200000000.0,1.0,200000000.0,85,...,NaN,SoD-GraphDesign,Notes: [#Degree:AS#] [#Transfer:Maybe#],AS,Maybe,No,0.949371,1,0,14
1,2/6/2021,1,4.0,173.0,47,1.0,200000000.0,1.0,200000000.0,92,...,NaN,SoAH-HealthWell,Notes:,NaN,NaN,Yes,1.000000,1,1,08
2,10/1/2021,1,6.0,103.0,30,1.0,200000000.0,1.0,200000000.0,93,...,NaN,SoN-ProfNurs-Mob,Notes: [#Degree:AS#] [#Transfer:Yes#],AS,Yes,Yes,1.000000,1,1,20
3,6/24/2021,3,3.0,1578.0,12,1.0,200000000.0,NaN,200000000.0,87,...,NaN,SoN-ABSN-Second,Notes: [#Degree:BS#] [#Transfer:Yes#],BS,Yes,No,0.921386,1,0,20
4,1/26/2021,1,3.0,145.0,25,1.0,200000000.0,1.0,200000000.0,83,...,NaN,SoAH-RadTech,Notes:,NaN,NaN,No,0.936188,1,0,14

In [57]:
df['Pageviews_int']=df['Pageviews'].fillna(0).astype(int)

In [58]:
df_sub=df[['Y','Count of Sessions','Pageviews','Session Duration','Visit Start Hour']]
df_sub=df[['Y','Count of Sessions','Pageviews_int']]

In [63]:
df_sub.groupby('Count of Sessions',dropna=False).count()

                       Y  Pageviews_int
Count of Sessions
1                  10248          10248
2                   1826           1826
3                    665            665
4                    281            281
5                    158            158
6                     97             97
7                     60             60
8                     40             40
9                     24             24
10                    15             15
11                     6              6
12                     9              9
13                     4              4
14                    10             10
15                     7              7
16                     8              8
17                     5              5
18                     3              3
19                     2              2
20                     1              1
21                     1              1
22                     1              1
23                     1              1
24                     1              1
25                     4              4
26                     1              1
27                     2              2
31                     1              1
32                     3              3
34                     1              1
35                     1              1
36                     3              3
37                     1              1
39                     2              2
40                     1              1
41                     1              1
42                     1              1
43                     1              1
48                     1              1
56                     1              1
58                     1              1
70                     1              1
72                     1              1
87                     1              1
99                     1              1
101                    2              2
110                    1              1
132                    1              1
139                    2              2
146                    1              1
161                    1              1
190                    2              2
237                    1              1

In [64]:
##convertedurl,Lead - Zip/Postal Code,ga_term,FIPS,FIPS_STRING,City - FIPS,County - FIPS,DMA

In [119]:
df_sub.head()

,Count of Sessions,Pageviews,Session Duration,Hits,Transactions,New Sessions,Session Quality Score 0_100,Campaign,Source,Ad Content,...,History.First Catalog,History.First HS Grad Year,High School Grad Year,Lead - Age,Lead Comments - Course Interest,Lead Comments - Degree,Lead Comments - Transfer,Y,Visit Start Hour,Pageviews_int
0,1,5.0,85.0,28,1.0,1.0,85,.SOD-RCC-Southcentral,google,Graphic Design~BS~RCC - Classes,...,NaN,NaN,NaN,NaN,SoD-GraphDesign,AS,Maybe,0,14,5
1,1,4.0,173.0,47,1.0,1.0,92,.SON-RCC-RN,google,Earn Your RN Degree.,...,NaN,NaN,NaN,NaN,SoAH-HealthWell,NaN,NaN,1,08,4
2,1,6.0,103.0,30,1.0,1.0,93,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - Classes,...,NaN,NaN,NaN,NaN,SoN-ProfNurs-Mob,AS,Yes,1,20,6
3,3,3.0,1578.0,12,1.0,NaN,87,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - School - Exact,...,NaN,NaN,NaN,NaN,SoN-ABSN-Second,BS,Yes,0,20,3
4,1,3.0,145.0,25,1.0,1.0,83,.SOHS-RCC-Rad Tech,google,(not set),...,NaN,NaN,NaN,NaN,SoAH-RadTech,NaN,NaN,0,14,3

In [72]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13514 entries, 0 to 13513
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Y                  13514 non-null  int64
 1   Count of Sessions  13514 non-null  int64
 2   Pageviews_int      13514 non-null  int32
dtypes: int32(1), int64(2)
memory usage: 264.1 KB

In [67]:
df.shape[0]

13514

# Setting Up Environment

 The first step of any ML experiment in PyCaret is setting up the environment by importing the required module and initializing setup(); here the modeule used is pycaret.classification. Once the module is imported, setup() is initialized by defining the dataframe and the target variable.
 All the prepprocessing steps are applied within setup(). PyCaret creates a transformation pipeline based on the parameters defined in setup function. It automatically orchestrates all dependencies in a pippeline so that there is no need to manually manage the sequential execution of transformations on test dataset. PyCaret's pipeline can easily be transferred across environments to run at scale or be deployed in production with ease. Following are transformations within the first release:
Sample and Split
Missing Value Imputation
One-Hot Encoding
Normalization
Transformation
Interaction, Binning
Feature Importance
Create Clusters
Remove outliers

https://pycaret.gitbook.io/docs/

In [120]:
from pycaret.classification import *
expl=setup(df_sub,target='Y',
          session_id=123,
          preprocess=True,
          silent=True,
          profile=False)

get_config shows the data after the initial transformation

In [194]:
get_config('X').shape

(13514, 6573)

In [218]:
features=get_config('X').columns.tolist()
type(features)

list

In [170]:
all_metrics = get_metrics()
all_metrics

,Name,Display Name,Score Function,Scorer,Target,Args,Greater is Better,Multiclass,Custom
ID,,,,,,,,,
acc,Accuracy,Accuracy,<function accuracy_score at 0x000001D4B3C2CF78>,accuracy,pred,{},True,True,False
auc,AUC,AUC,<function roc_auc_score at 0x000001D4B3C201F8>,"make_scorer(roc_auc_score, needs_proba=True, e...",pred_proba,"{'average': 'weighted', 'multi_class': 'ovr'}",True,True,False
recall,Recall,Recall,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(recall_score, average=macro)",pred,{'average': 'macro'},True,True,False
precision,Precision,Prec.,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(precision_score, average=weighted)",pred,{'average': 'weighted'},True,True,False
f1,F1,F1,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(f1_score, average=weighted)",pred,{'average': 'weighted'},True,True,False
kappa,Kappa,Kappa,<function cohen_kappa_score at 0x000001D4B3C32...,make_scorer(cohen_kappa_score),pred,{},True,True,False
mcc,MCC,MCC,<function matthews_corrcoef at 0x000001D4B3C32...,make_scorer(matthews_corrcoef),pred,{},True,True,False

In [173]:
##from pycaret.classification import get_leaderboard
##leaderboard = get_leaderboard()

In [176]:
##!pip install explainerdashboard

In [178]:
##dashboard(gbc)

# Compare Models

This function trains all the models in the model library and compares the common evaluation metrics using k-fold cross validation (default =10). The environment metrics used are: 
For Classification: Accuracy, AUC, Recall, Precision, F1, Kappa
For Regression: MAE, MSE, RMSE, R2, RMSLE, MAPE;
Table by default is sorted by 'Accuracy' (Highest first)

In [121]:
best=compare_models(sort='AUC')

In [122]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [124]:
predict_model(best)

,Count of Sessions,Pageviews,Session Duration,Hits,Session Quality Score 0_100,Google Ads Remarketing List ID,Unique Pageviews,Billing Method,Visit Start Hour,Transactions_1.0,...,Visit Start Time of Day_hour_3,Visit Start Time of Day_hour_4,Visit Start Time of Day_hour_5,Visit Start Time of Day_hour_6,Visit Start Time of Day_hour_7,Visit Start Time of Day_hour_8,Visit Start Time of Day_hour_9,Y,Label,Score
0,1.0,4.0,137.0,22.0,91.0,461691424.0,3.0,96.013008,15.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9939
1,1.0,5.0,329.0,28.0,88.0,461691424.0,4.0,110.000000,12.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.6851
2,1.0,4.0,209.0,32.0,91.0,461691424.0,3.0,96.013008,19.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9932
3,1.0,10.0,676.0,46.0,93.0,461691424.0,7.0,96.013008,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9934
4,1.0,6.0,272.0,35.0,92.0,461691424.0,5.0,96.013008,20.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4050,2.0,3.0,62.0,35.0,79.0,461691424.0,3.0,95.000000,18.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.5478
4051,1.0,4.0,235.0,30.0,93.0,461691424.0,3.0,96.013008,20.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9943
4052,1.0,6.0,451.0,67.0,90.0,461691424.0,6.0,96.013008,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.9943
4053,1.0,3.0,156.0,35.0,90.0,461691424.0,3.0,96.013008,12.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.9943
4054,1.0,4.0,114.0,24.0,93.0,461691424.0,3.0,96.013008,5.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.9939

In [125]:
predictions = predict_model(best, data=df_sub)
predictions.head()

,Count of Sessions,Pageviews,Session Duration,Hits,Transactions,New Sessions,Session Quality Score 0_100,Campaign,Source,Ad Content,...,High School Grad Year,Lead - Age,Lead Comments - Course Interest,Lead Comments - Degree,Lead Comments - Transfer,Y,Visit Start Hour,Pageviews_int,Label,Score
0,1,5.0,85.0,28,1.0,1.0,85,.SOD-RCC-Southcentral,google,Graphic Design~BS~RCC - Classes,...,NaN,NaN,SoD-GraphDesign,AS,Maybe,0,14,5,1,0.5587
1,1,4.0,173.0,47,1.0,1.0,92,.SON-RCC-RN,google,Earn Your RN Degree.,...,NaN,NaN,SoAH-HealthWell,NaN,NaN,1,08,4,0,0.9932
2,1,6.0,103.0,30,1.0,1.0,93,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - Classes,...,NaN,NaN,SoN-ProfNurs-Mob,AS,Yes,1,20,6,1,0.6284
3,3,3.0,1578.0,12,1.0,NaN,87,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - School - Exact,...,NaN,NaN,SoN-ABSN-Second,BS,Yes,0,20,3,0,0.6535
4,1,3.0,145.0,25,1.0,1.0,83,.SOHS-RCC-Rad Tech,google,(not set),...,NaN,NaN,SoAH-RadTech,NaN,NaN,0,14,3,0,0.9943

In [179]:
save_model(gbc, 'C:/Users/catqq/OneDrive/Model/my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='Y',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                                             learning_rate=0.1, loss='deviance',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             presort='deprecated',
                                             random_state=123, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False)]],
          verbose=False),
 'C:/Users/catqq/OneDrive/Model/my_best_pipeline.pkl')

In [180]:
loaded_model = load_model('C:/Users/catqq/OneDrive/Model/my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=False, features_todrop=[],
                                      id_columns=[],
                                      ml_usecase='classification',
                                      numerical_features=[], target='Y',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_strategy=...
                                            learning_rate=0.1, loss='deviance',
                                            max_depth=3, max_features=None,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100,
                                            n_iter_no_change=None,
                                            presort='deprecated',
                                            random_state=123, subsample=1.0,
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=0, warm_start=False)]],
         verbose=False)

In [328]:
list_of_models=['1','2']
list_of_models.index('1')

0

In [333]:
model='a'
df=pd.DataFrame([model])
df

   0
0  a

In [361]:
def create_models(list_of_models):
    for model in list_of_models:
        i=list_of_models.index(model)+1
        print_result="-----creating model "+model+"-----"
        print(model)
        df=pd.DataFrame([model])
        model=create_model(model)
        ##plot_model(model, plot = 'auc')
        sheet_name='M'+str(i)
        worksheet = sh.worksheet_by_title(sheet_name)
        worksheet.clear("A1","M5000")
        worksheet.set_dataframe(df, "A1")
        try: 
            feature_importance=model.feature_importances_.tolist()     
            feature_importance_list=list(zip(features,feature_importance))
            feature_importance_df = pd.DataFrame (feature_importance_list, columns = ['Feature','Importance'])
            feature_importance_df=feature_importance_df.sort_values(by='Importance',ascending=False)

            worksheet.set_dataframe(feature_importance_df, "B1")
        except:
            print ("-----this model has not feature importance-----")
        pred=predict_model(model,df_sub,raw_score=True)
        pred['Decile'] = pd.qcut(pred['Score_1'], 10,labels = False,duplicates='drop')+1
        decile1=pred[["Decile","Y"]].groupby("Decile",dropna=False).count()
        decile2=pred[["Decile","Y"]].groupby("Decile",dropna=False).sum()
        decile_all=decile1.merge(decile2,on='Decile',how='left')
        decile_all['pct_1']=decile_all.Y_y/decile_all.Y_x
        decile_all=decile_all.sort_values(by='Decile',ascending=False).reset_index()
        worksheet.set_dataframe(decile_all, "E1")
                    
            
        scores_1=pred[['Score_1','Y']].groupby("Score_1").count()
        scores_1=scores_1.sort_values(by="Y",ascending=False).reset_index()
        scores_1_100=scores_1.head(100)
        
        worksheet.set_dataframe(scores_1_100, "I1")

In [362]:
create_models(['ada','gbc','lightgbm','dt','lr'])

-----this model has not feature importance-----

# Create Model

This creates the specific model produced by PyCaret, by passing the string input model name. The function returns a table with k-fold cross validated scores and a trained model object. variable adaboost stores a trained model object returned by create_model function is a scikit-learn estimate. Original attributes of a trained object can be accessed by using period (.) after variable.PyCaret has over 60 open source ready-to-use algorithms.

In [185]:
print(gbc.feature_importances_.shape)

(6573,)

In [210]:
feature_importance=gbc.feature_importances_.tolist()

In [ ]:
features

In [191]:
##!pip install matplotlib

In [206]:
feature_importance

array([0.00076377, 0.0003771 , 0.00459641, ..., 0.00022943, 0.        ,
       0.        ])

In [226]:
feature_importance_list=list(zip(features,feature_importance))
feature_importance_df = pd.DataFrame (feature_importance_list, columns = ['Feature','Importance'])
feature_importance_df.to_csv('C:/Users/catqq/OneDrive/Model/gbc_features.csv',index=False)

In [301]:
feature_importance_df=feature_importance_df.sort_values(by='Importance',ascending=False)

In [297]:
##!pip install pygsheets
##!pip install gspread

In [168]:
###https://pycaret.readthedocs.io/en/stable/api/classification.html

In [91]:
pred=adaboost.predict_proba(df_sub[['Count of Sessions','Pageviews_int']])

In [277]:
pred2=predict_model(gbc,df_sub,raw_score=True)
pred2.head()

,Count of Sessions,Pageviews,Session Duration,Hits,Transactions,New Sessions,Session Quality Score 0_100,Campaign,Source,Ad Content,...,Lead - Age,Lead Comments - Course Interest,Lead Comments - Degree,Lead Comments - Transfer,Y,Visit Start Hour,Pageviews_int,Label,Score_0,Score_1
0,1,5.0,85.0,28,1.0,1.0,85,.SOD-RCC-Southcentral,google,Graphic Design~BS~RCC - Classes,...,NaN,SoD-GraphDesign,AS,Maybe,0,14,5,1,0.4413,0.5587
1,1,4.0,173.0,47,1.0,1.0,92,.SON-RCC-RN,google,Earn Your RN Degree.,...,NaN,SoAH-HealthWell,NaN,NaN,1,08,4,0,0.9932,0.0068
2,1,6.0,103.0,30,1.0,1.0,93,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - Classes,...,NaN,SoN-ProfNurs-Mob,AS,Yes,1,20,6,1,0.3716,0.6284
3,3,3.0,1578.0,12,1.0,NaN,87,.SoN-RCC-NursingGeneral,google,RN~AS~Nursing - School - Exact,...,NaN,SoN-ABSN-Second,BS,Yes,0,20,3,0,0.6535,0.3465
4,1,3.0,145.0,25,1.0,1.0,83,.SOHS-RCC-Rad Tech,google,(not set),...,NaN,SoAH-RadTech,NaN,NaN,0,14,3,0,0.9943,0.0057

In [ ]:
pred=adaboost.predict_proba(df_sub[['Count of Sessions','Pageviews_int']])

In [278]:
df_sub.shape[0]

13514

In [279]:
pred2.shape[0]

13514

            Y
Score_1
0.0057   6366
0.0068   1707
0.0061    943
0.0073    333
0.0065    307
...       ...
0.6904      6
0.0051      6
0.5462      6
0.7508      6
0.5720      6

[100 rows x 1 columns]

In [290]:
pred2['Decile'] = pd.qcut(pred2['Score_1'], 10,labels = False,duplicates='drop')+1

In [300]:
import pygsheets
import gspread
##https://pygsheets.readthedocs.io/en/stable/authorization.html
##### need to create a service account key!!!!!
gc = pygsheets.authorize(service_file='C:/Users/catqq/OneDrive/Model/json/luminous-night-353101-cba354308636.json')
sh=gc.open_by_url('https://docs.google.com/spreadsheets/d/1_D80MIiI18DTBkuuH00Zcs-NNeqZ2LJoh2OiNCBmA4o/edit?usp=sharing')

worksheet1 = sh.worksheet_by_title("M1")
worksheet2 = sh.worksheet_by_title("M2")
worksheet3 = sh.worksheet_by_title("M3")
worksheet4 = sh.worksheet_by_title("M4")
worksheet4 = sh.worksheet_by_title("M5")

In [302]:
worksheet1.clear("A1","M5000")
worksheet1.set_dataframe(feature_importance_df, 'A1')

In [291]:
decile1=pred2[["Decile","Y"]].groupby("Decile",dropna=False).count()

decile2=pred2[["Decile","Y"]].groupby("Decile",dropna=False).sum()

In [292]:
decile1

           Y
Decile
1       6549
2       1129
3        462
4       1740
5        936
6       1346
7       1352

In [293]:
decile2

           Y
Decile
1          2
2          2
3          1
4          7
5         24
6        619
7       1062

In [287]:
pred3=pred2.sort_values(by='Score_1', ascending=False).reset_index()

In [255]:
size=pred3.shape[0]
size

13514

In [265]:
pred3['seq']=pred3.index+1
pred3[['seq']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13514 entries, 0 to 13513
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     13514 non-null  int64
dtypes: int64(1)
memory usage: 105.7 KB

In [259]:
size/10

1351.4

In [271]:
pred3['Decile']=pred3.apply(lambda x: 1 if  x.seq<=size/10 \
                            else 2 if  x.seq<=size*2/10 \
                            else 3 if  x.seq<=size*3/10 \
                            else 4 if  x.seq<=size*4/10 \
                            else 5 if  x.seq<=size*5/10 \
                            else 6 if  x.seq<=size*6/10 \
                            else 7 if  x.seq<=size*7/10 \
                            else 8 if  x.seq<=size*8/10 \
                            else 9 if  x.seq<=size*9/10 \
                            else 10,\
                            axis=1)

In [275]:
pred3[["Decile","Score"]].groupby("Decile",dropna=False).min()

         Score
Decile
1       0.9943
2       0.9943
3       0.9943
4       0.9943
5       0.9939
6       0.9935
7       0.9932
8       0.8001
9       0.6209
10      0.5001

In [276]:
pred3[["Decile","Score"]].groupby("Score",dropna=False).count()

        Decile
Score
0.5001       1
0.5003       2
0.5012       1
0.5015       2
0.5016      22
...        ...
0.9980       1
0.9985       1
0.9995       1
0.9999       1
1.0000       1

[1267 rows x 1 columns]

In [247]:
pred2[["Decile","Score"]].groupby("Decile",dropna=False).min()

         Score
Decile
1       0.5001
2       0.6209
3       0.8004
4       0.9933
5       0.9936
6       0.9940
7       0.9944

In [248]:
pred2[["Decile","Score"]].groupby("Decile",dropna=False).max()

         Score
Decile
1       0.6205
2       0.8001
3       0.9932
4       0.9935
5       0.9939
6       0.9943
7       1.0000

In [244]:
decile1

           Y
Decile
1       1352
2       1352
3       2633
4        340
5       1098
6       6552
7        187

In [243]:
decile2

          Y
Decile
1       679
2       935
3        95
4         1
5         2
6         2
7         3

In [166]:
evaluate_model(gbc)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

# Interpret Model

In [161]:
##!pip install shap

In [165]:
interpret_model(gbc, plot='reason', observation=32)

TypeError: This function only supports tree based models for binary classification: dt, rf, xgboost, et, lightgbm.

In [351]:
scores_1.head(1).reset_index()

   Score_1     Y
0   0.0057  6366

# Tune Model

tune_model function is used for automatically tuning hyperparameters of a machine learning model.PyCaret uses random grid search over a predefined search space. This function returns a table with k-fold cross validated scores and a trained model object

In [ ]:
tuned_adabost=turn_model('ada')

# Ensemble Model

The ensemble_model function is used for ensembling trained models. It takes only one parameter. ie. a trained model object. This function returns a table with k-fold cross validated scores and a trained model object. Bagging method is used for ensembling by default which can be changed to 'Boosting'' by using the method parameter within the ensemble_model function

Bagging involves fitting many decision trees on different samples of the same dataset and averaging the predictions.
Stacking involves fitting many different models types on the same data and using another model to learn how to best combine the predictions.
Boosting involves adding ensemble members sequentially that correct the predictions made by prior models and outputs a weighted average of the predictions.

https://gist.github.com/pycaret/e21f838a26923856db896df10cc3c7e6

In [ ]:
# train a decision tree model
dt = create_model('dt')

# train a bagging classifier on dt
bagged_dt = ensemble_model(dt, method = 'Bagging')

In [ ]:

# train a adaboost classifier on dt with 100 estimators
boosted_dt = ensemble_model(dt, method = 'Boosting', n_estimators = 100)

# train a votingclassifier on all models in library
blender = blend_models()

In [ ]:
# train a voting classifier on specific models
dt = create_model('dt')
rf = create_model('rf')
adaboost = create_model('ada')
blender_specific = blend_models(estimator_list = [dt,rf,adaboost], method = 'soft')

# train a voting classifier dynamically
blender_top5 = blend_models(compare_models(n_select = 5))

# train a stacking classifier
stacker = stack_models(estimator_list = [dt,rf], meta_model = adaboost)

# stack multiple models dynamically
top7 = compare_models(n_select = 7)
stacker = stack_models(estimator_list = top7[1:], meta_model = top7[0])